body {
  width: 300px;
  text-align: left;
  padding: 1rem;
  font-size: 16px;
}

header {
  padding: 0 0 .5rem 0;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 1rem;
}

section {
  display: none;
}
section.show {
  display: block;
}